.app-wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to top,
    rgba(	32, 35, 42, 0.9),
    rgba(	32, 35, 42, 1),
    rgba(	32, 35, 42, 1),
    rgba(	26, 30, 39, 0.9)
  );
}
.container-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 40px;
  
}